@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro.eot');
    src: url('../fonts/Intro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro.woff2') format('woff2'),
         url('../fonts/Intro.woff') format('woff'),
         url('../fonts/Intro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

