@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.eot");
  src: url("../fonts/Intro.eot?#iefix") format("embedded-opentype"), url("../fonts/Intro.woff2") format("woff2"), url("../fonts/Intro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*---------------- ОБЩИЕ СТИЛИ >>>start ----------------*/
body {
  font-family: Arial, sans-serif;
}

.logo, .menu__link,
h1, h2, h3, h4, h5 {
  font-family: "Intro", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  color: #b2a893;
}

p, a {
  font-size: 0.75rem;
  color: #8e8470;
}

.menu__item,
.social-nets__item {
  display: inline-block;
  list-style: none;
}

.chapter-1__text,
.chapter-2__text1,
.chapter-3__text1,
.chapter-4__text1,
.chapter-5__text,
.chapter-6__text1,
.chapter-7__text1,
.chapter-8__text1,
.chapter-2__text2,
.chapter-4__text2,
.chapter-6__text2,
.chapter-7__text2,
.chapter-8__text2 {
  max-width: 158px;
  line-height: 1.5;
}

.chapter-1__text,
.chapter-2__text1,
.chapter-3__text1,
.chapter-4__text1,
.chapter-5__text,
.chapter-6__text1,
.chapter-7__text1,
.chapter-8__text1 {
  padding-top: 5px;
}

.chapter-1__link::before,
.chapter-2__link::before,
.chapter-3__link::before,
.chapter-4__link::before,
.chapter-5__link::before,
.chapter-6__link::before,
.chapter-7__link::before,
.chapter-8__link::before {
  content: "→";
  color: #1bac96;
  margin-right: 10px;
  vertical-align: middle;
}

.fa-vk,
.fa-facebook,
.fa-odnoklassniki,
.fa-twitter {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 25px;
  text-align: center;
  color: #fff;
}

/*--------------- ОБЩИЕ СТИЛИ <<<end ----------------------*/
.wrapper-bg {
  max-width: 2560px;
  /*height: 1600px;*/
  background: #2a2a2a;
}

.container {
  max-width: 885px;
  margin: auto;
  /*display: flex;*/
}

header {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 165px;
}

.logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #516e6a;
}

.logo-text {
  color: #fff;
  font-size: 0.75rem;
  line-height: 3.735;
  text-align: left;
}

.menu__item {
  width: 90px;
  height: 35px;
}

.menu__link {
  display: block;
  width: 90px;
  font-size: 0.75rem;
  line-height: 35px;
  text-align: center;
  color: #fff;
}

.active {
  background-color: #516e6a;
}
.active::before {
  content: "";
  position: absolute;
  margin-top: 35px;
  margin-left: -10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #516e6a;
}

.menu__item:hover {
  background-color: #516e6a;
}

.container-slider {
  width: 440px;
  height: 220px;
  padding-top: 35px;
  padding-left: 50px;
  background-color: #6e6b51;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#slider {
  width: 340px;
}
#slider div {
  height: 100%;
}
#slider h3, #slider p {
  color: #2a2a2a;
}
#slider p {
  width: 340px;
  font-size: 0.75rem;
  line-height: 1.5;
}
#slider .slick-next {
  color: red;
}
#slider .slider-arrows__next::before {
  position: absolute;
  top: -10px;
  right: -10px;
  content: "";
  font-family: "FontAwesome";
  font-size: 3.3rem;
  color: #2a2a2a;
}
#slider .slider-arrows__prew::before {
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  font-family: "FontAwesome";
  font-size: 3.3rem;
  color: #2a2a2a;
}

.label-company {
  width: 440px;
  height: 220px;
  background-color: #514441;
}

.label-company__name {
  display: inline-block;
  width: 220px;
  height: 100%;
  padding-top: 15%;
  font-size: 2.1875rem;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 8px;
  color: #6a3b35;
  background-color: #2a2a2a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.label-company__text-html {
  display: inline-block;
  padding-left: 15px;
  letter-spacing: 24px;
}

.label-company__star {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-left: 12.5%;
  vertical-align: middle;
  border: 3px solid #2a2a2a;
}

/*-------------------- БЛОКИ СЕКЦИЙ -------------------------*/
.block-1 {
  display: flex;
}

.container-slider {
  width: 440px;
  height: 220px;
}

.heart,
.setting {
  width: 220px;
  height: 220px;
  text-align: center;
  line-height: 220px;
  font-size: 4.125rem;
}

.heart {
  background-color: #516E6A;
}

.setting {
  background-color: #6a3b35;
}

.fa-heart {
  color: #2a2a2a;
}

.fa-cog {
  width: 60px;
  height: 60px;
  padding: 30px;
  border: 3px solid #516e6a;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #516e6a;
}

.block-2 {
  display: flex;
}

.container-blocks {
  display: flex;
}

.videoblock {
  width: 220px;
  height: 220px;
}

video {
  width: 100%;
  height: 100%;
}

/*-------------------------- end ----------------------------------*/
/*-------------------- СЕКЦИИ chapter -----------------------*/
.chapter-1,
.chapter-2,
.chapter-6 {
  width: 202px;
  height: 422px;
  margin: 9px;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dotted #8e8470;
}

.chapter-1__text,
.chapter-6__text2 {
  margin-bottom: 55px;
}

.chapter-2__text1,
.chapter-6__text1 {
  margin-bottom: 15px;
}

.chapter-2__text3 {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 35px;
}

.chapter-3,
.chapter-4,
.chapter-7 {
  position: relative;
  width: 440px;
  height: 440px;
}

.chapter-3__img,
.chapter-4__img,
.chapter-7__img {
  position: relative;
  z-index: 5;
}

.chapter-3__text-block,
.chapter-4__text-block,
.chapter-7__text-block {
  position: relative;
  z-index: 4;
  width: 420px;
  height: 200px;
  margin: auto;
  margin-top: -10px;
}

.chapter-3__border,
.chapter-4__border,
.chapter-7__border {
  position: relative;
  z-index: 3;
  width: 420px;
  height: 200px;
  border: 1px dotted #8e8470;
}

.chapter-3__text1-bg,
.chapter-4__text1-bg,
.chapter-7__text1-bg {
  position: absolute;
  z-index: 1;
  width: 180px;
  height: 181px;
  margin-top: -10px;
  margin-left: -10px;
  padding-top: 9.5238095238%;
  padding-left: 9.5238095238%;
}

.chapter-3__text1-bg {
  background-color: #6a3b35;
}

.chapter-4__text1-bg {
  background-color: #514441;
}

.chapter-7__text1-bg {
  background-color: #40434b;
}

.chapter-3__text2-bg,
.chapter-4__text2-bg,
.chapter-7__text2-bg {
  position: absolute;
  z-index: 0;
  top: 55px;
  right: 0;
  width: 170px;
  height: 150px;
}

.chapter-3__text2,
.chapter-4__text2,
.chapter-7__text2 {
  max-width: 160px;
  padding-bottom: 35px;
  line-height: 1.5;
}

.chapter-4__text2 {
  padding-bottom: 20px;
}

.chapter-2__text2::before,
.chapter-2__text3::before,
.chapter-4__text2::before,
.chapter-6__text2::before,
.chapter-6__text3::before,
.chapter-7__text2::before {
  content: "—";
  position: absolute;
  left: -14px;
  font-weight: bold;
}

.chapter-2__text2::before,
.chapter-2__text3::before,
.chapter-6__text2::before,
.chapter-6__text3::before {
  left: 16px;
}

.chapter-5,
.chapter-8__text-block2 {
  width: 200px;
  height: 200px;
  margin: 9px;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  border: 1px dotted #8e8470;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chapter-8__text-block2 {
  padding-top: 1.25rem;
}

.chapter-5__text {
  padding-bottom: 1.25rem;
}

.chapter-8__text2 {
  padding-bottom: 0.9375rem;
}

.chapter-8 {
  display: flex;
  width: 440px;
  height: 220px;
  -webkit-align-items: center;
  align-items: center;
}

.chapter-8__text-bg {
  width: 220px;
  height: 220px;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  background-color: #414e51;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.social-nets {
  width: 115px;
  height: 50px;
  margin: auto;
}

/*---------------------------end-------------------------------*/
/*-------------------------- ...etc СЕКЦИИ -------------------*/
.touch-their-chapter-5-6 {
  display: flex;
}

.touch-their {
  /*height: 220px;*/
}

.videoblock-chapter-8__text-block-2 {
  /*width: 440px;
  height: 220px;*/
  display: flex;
}

/*--------------------------- end ----------------------------*/
#star {
  fill: #2a2a2a;
}

.fa-vk {
  background-color: #48729e;
}

.fa-facebook {
  background-color: #3b5998;
}

.fa-odnoklassniki {
  background-color: #eb722e;
}

.fa-twitter {
  background-color: #00aced;
}

.copyright {
  display: block;
  margin-top: 90px;
  padding-bottom: 75px;
  margin-right: 12%;
  text-align: right;
  color: #8e8470;
}

/*# sourceMappingURL=style.css.map */
