* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro.eot');
    src: url('../fonts/Intro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro.woff2') format('woff2'),
         url('../fonts/Intro.woff') format('woff'),
         url('../fonts/Intro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*---------------- ОБЩИЕ СТИЛИ >>>start ----------------*/
body {
	font-family: sans-serif, 'Intro';
}

.logo, .menu__link,
 h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}

h3 {
	color: #b2a893;
}

p, a {
	color: #8e8470;
}

.fa-vk,
.fa-facebook,
.fa-odnoklassniki,
.fa-twitter {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	line-height: 25px;
	text-align: center;
	color: #fff;
}
/*--------------- ОБЩИЕ СТИЛИ <<<end ----------------------*/
.wrapper-bg {
	max-width: 2560px;
	/*height: 1600px;*/
	background: #2a2a2a;
	
}

.container {
	max-width: 885px;
	margin: auto;
	/*display: flex;*/
}

header {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	    -webkit-align-items: center;
	            align-items: center;
	width: 100%;
	height: 165px;
}

.logo {
	display: inline-block;
	width: 80px;
	height: 80px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background-color: #516e6a;
}

.menu__item,
.social-nets__item {
	display: inline-block;
	list-style: none;
}

.logo-text {
	color: #fff;
	font-size: 19.276px;
  line-height: 3.735;
  text-align: left;
}

.menu__link {
	font-size: 19.276px;
  line-height: 3.735;
  text-align: left;
	color: #fff;
}

.label-company {
	width: 440px;
	height: 220px;
	border: 1px solid red;
	background-color: #514441;
}

.label-company__name {
	display: inline-block;
	width: 220px;
	height: 100%;
	font-size: 2.125rem;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
	color: #6a3b35;
	background-color: #2a2a2a;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.label-company__text-html {
	letter-spacing: 10px;
}

.label-company__star {
	display: inline-block;
	width: 90px;
	height: 90px;
	border: 3px solid #2a2a2a;
}

/*-------------------- БЛОКИ СЕКЦИЙ -------------------------*/
.block-1 {
	display: flex;
}
	.container-slider {
		width: 440px;
		height: 220px;
	}
	.heart,
	.setting {
		width: 220px;
		height: 220px;
		text-align: center;
		line-height: 220px;
		font-size: 4.125rem;
	}
	.heart {
		background-color: #516E6A;
	}
	.setting {
		background-color: #6a3b36;
	}
	.fa-heart {
		color: #2a2a2a;
	}
	.fa-cog {
		width: 60px;
		height: 60px;
		padding: 30px;
		border: 3px solid #516e6a;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		color: #516e6a;
	}

.block-2 {
	display: flex;
}

.container-blocks {
	display: flex;
}

.block-3 {
	/*display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;*/
}

.block-4 {
	
}

.videoblock {
	width: 220px;
	height: 220px;
}

	video {
		width: 100%;
		height: 100%;
	}
/*-------------------------- end ----------------------------------*/


/*-------------------- СЕКЦИИ chapter -----------------------*/
.chapter-1,
.chapter-2,
.chapter-6 {
	width: 220px;
	height: 440px;
	border: 1px dotted #8e8470;
}

.chapter-6 {
	display: inline-block;
	-webkit-order: 2;
	    -ms-order: 2;
	        order: 2;
}

.chapter-3,
.chapter-4,
.chapter-7 {
	width: 440px;
	height: 440px;
}

	.chapter-3__text-block,
	.chapter-4__text-block,
	.chapter-7__text-block {
		border: 1px dotted #8e8470;
	}

.chapter-5,
.chapter-8__text-block-2 {
	width: 220px;
	height: 220px;
	border: 1px dotted #8e8470;
}


.chapter-8 {
	width: 445px;
	height: 225px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border: 3px dashed black;
}
	.chapter-8__text-block {
		display: inline-block;
		width: 220px;
		height: 220px;
		background-color: #414e51;
	}
	.social-nets {
		display: inline-block;
		width: 220px;
		height: 220px;
		border: 1px solid red;
	}

.chapter-1__link::before,
.chapter-2__link::before,
.chapter-3__link::before,
.chapter-4__link::before,
.chapter-5__link::before,
.chapter-6__link::before,
.chapter-7__link::before,
.chapter-8__link::before {
	content: "→";
	color: #1bac96;
	margin-right: 10px;
	/*text-decoration: none;*/
}
/*---------------------------end-------------------------------*/

#star {
	fill: #2a2a2a;
}


.fa-vk {
	background-color: #48729e;
}

.fa-facebook {
	background-color: #3b5998;
}

.fa-odnoklassniki {
	background-color: #eb722e;
}

.fa-twitter {
	background-color: #00aced;
}

.copyright {
	border: 1px solid white;
	color: #8e8470;
}