*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: 'Intro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Intro.eot');
    src: url('../fonts/Intro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Intro.woff2') format('woff2'),
    url('../fonts/Intro.woff') format('woff');
}
/*---------------- ОБЩИЕ СТИЛИ >>>start ----------------*/
body
{
    font-family: Arial, sans-serif;
}

// SIZES
$maxheight: 100%;
$widthchap: 220px;
$heightchap: 220px;
$widthchapbig: 440px;
$heightchapbig: 440px;
$widthchap126: 202px;
$heightchap126: 422px;
$widthcont: 885px;
$widthBorderchap: 420px;
$heightBorderchap: 200px;
$txtBlockWidth: 420px;
$txtBlockHeight: 200px;
$padTop: 40px;
$padLeft: 40px;

// FONTS SIZES
$fz-head: 1rem;
$fz-label: (35 / 16) + rem;
$fz-link: (12 / 16) + rem;
$fz-p: (12 / 16) + rem;
/* --------------------------------------------*/
.logo,
.menu__link,
h2,
h3,
h4,
h5
{
    font-family: 'Intro', sans-serif;
    font-size: $fz-head;
    font-weight: normal;
    text-transform: uppercase;
}

h3
{
    color: #b2a893;
}

p, a
{
    font-size: $fz-p;

    color: #8e8470;
}

.menu__item,
.social-nets__item
{
    display: inline-block;
    list-style: none;
}

.chapter-1__text,
.chapter-2__text1,
.chapter-3__text1,
.chapter-4__text1,
.chapter-5__text,
.chapter-6__text1,
.chapter-7__text1,
.chapter-8__text1,
.chapter-2__text2,
.chapter-4__text2,
.chapter-6__text2,
.chapter-7__text2,
.chapter-8__text2
{
    line-height: 1.5;
    max-width: 158px;
}
.chapter-1__text,
.chapter-2__text1,
.chapter-3__text1,
.chapter-4__text1,
.chapter-5__text,
.chapter-6__text1,
.chapter-7__text1,
.chapter-8__text1
{
    padding-top: 5px;
}

.chapter-1__link::before,
.chapter-2__link::before,
.chapter-3__link::before,
.chapter-4__link::before,
.chapter-5__link::before,
.chapter-6__link::before,
.chapter-7__link::before,
.chapter-8__link::before
{
    margin-right: 10px;
    content: '→';
    vertical-align: middle;

    color: #1bac96;
}

.fa-vk,
.fa-facebook,
.fa-odnoklassniki,
.fa-twitter
{
    line-height: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 2px;
            border-radius: 2px;
}
/*--------------- ОБЩИЕ СТИЛИ <<<end ----------------------*/
.wrapper-bg
{
    min-width: 980px;
    max-width: 2560px;
    height: $maxheight;
    background: #2a2a2a;
}

.container
{
    max-width: $widthcont;
    margin: auto;
    padding:
    {
        right: 5px;
        left: 5px;
    };
}

header
{
    display: flex;
    width: auto;
    height: 165px;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
}

.logo
{
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #516e6a;
}


.logo-text
{
    font-size: $fz-p;
    line-height: 60px;
    padding-left: 72%;
    text-align: left;
    color: #fff;
}

.menu
{
    display: flex;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 405px;
    height: 35px;
    padding-right: (50 / 405) * 100%;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.menu__item
{
    width: 90px;
    height: 35px;
}

.menu__link
{
    font-size: $fz-link;
    line-height: 35px;
    display: block;
    width: 90px;
    text-align: center;
    color: #fff;
}

.active
{
    background-color: #516e6a;
    &::before
    {
        position: absolute;
        margin-top: 35px;
        margin-left: -13px;
        content: '';
        border-top: 7px solid #516e6a;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }
}

.menu__item:hover
{
    background-color: #516e6a;
}

.container-slider
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: $widthchapbig;
    height: $heightchap;
    padding-top: 35px;
    padding-left: 50px;
    background-color: #6e6b51;
}

#slider
{
    width: 340px;
    & div
    {
        height: 100%;
    }
    h3,
    p
    {
        color: #2a2a2a;
    }
    & p
    {
        font-size: $fz-p;
        line-height: 1.5;
        width: 340px;
    }

    .slider-arrows__next::before
    {
        font-family: 'FontAwesome';
        font-size: 3.3rem;
        position: absolute;
        top: -10px;
        right: -10px;
        content: '\f0da';
        color: #2a2a2a;
    }

    .slider-arrows__prew::before
    {
        font-family: 'FontAwesome';
        font-size: 3.3rem;
        position: absolute;
        top: -10px;
        left: -10px;
        content: '\f0d9';
        color: #2a2a2a;
    }
}

.label-company
{
    width: $widthchapbig;
    height: $heightchap;
    background-color: #514441;
}

.label-company__name
{
    font-size: (35 / 16) + rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: $widthchap;
    height: 100%;
    padding-top: 15%;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 8px;
    color: #6a3b35;
    background-color: #2a2a2a;
}

.label-company__text-html
{
    display: inline-block;
    padding-left: 15px;
    letter-spacing: 24px;
}

.label-company__star
{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-left: 12.5%;
    vertical-align: middle;
    border: 3px solid #2a2a2a;
}

/*-------------------- БЛОКИ СЕКЦИЙ -------------------------*/
.block-1
{
    display: flex;
}

.heart,
.setting
{
    font-size: (66 / 16) + rem;
    line-height: 220px;
    width: $widthchap;
    height: $heightchap;
    // width: 3.34em;
    // height: 3.34em;
    text-align: center;
}
.heart
{
    background-color: #516e6a;
}

.setting
{
    background-color: #6a3b35;
}

.fa-heart
{
    color: #2a2a2a;
}

.fa-cog
{
    width: 60px;
    height: 60px;
    padding: 30px;
    color: #516e6a;
    border: 3px solid #516e6a;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.block-2
{
    display: flex;
}

.block-4
{
    display: flex;
            flex-direction: column;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.container-blocks
{
    display: flex;
}

.videoblock
{
    width: $widthchap;
    height: $heightchap;
    background-image: url("../img/video_img.png");
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    &__btn-play
    {
        position: absolute;
        width: 60px;
        height: 60px;
        margin-top: 70px;
        margin-left: 70px;
        cursor: pointer;
        border: 9px solid #333;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        .fa-caret-right
        {
            font-size: 48px;
            line-height: 60px;
            margin-left: 25px;
            color: #333;
        }
    }
}


video
{	
	display: none;
    width: 100%;
    height: 100%;
}

.popup-video
{
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;

    width: 80vw;
    height: 80vh;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.popup__bg
{
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.5);
}

#close-video-win
{
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    cursor: pointer;
    color: #fff;
}

/*-------------------------- end ----------------------------------*/

/*-------------------- СЕКЦИИ chapter -----------------------*/
.chapter-1,
.chapter-2,
.chapter-6
{
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: $widthchap126;
    height: $heightchap126;
    margin: 9px;
    padding:
    {
        top: (30 / 16) + rem;
        left: (30 / 16) + rem;
    };

    border: 1px dotted #8e8470;
}

.chapter-1__text,
.chapter-6__text2
{
    margin-bottom: 55px;
}

.chapter-2__text1,
.chapter-6__text1
{
    margin-bottom: 15px;
}

.chapter-2__text3
{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 35px;
}

.chapter-3,
.chapter-4,
.chapter-7
{
    position: relative;
    width: $widthchapbig;
    height: $heightchapbig;
}
.chapter-3__img,
.chapter-4__img,
.chapter-7__img
{
    position: relative;
    z-index: 5;
}

.chapter-3__text-block,
.chapter-4__text-block,
.chapter-7__text-block
{
    position: relative;
    z-index: 4;
    width: $txtBlockWidth;
    height: $txtBlockHeight;
    margin: auto;
    margin-top: -10px;
}

.chapter-3__border,
.chapter-4__border,
.chapter-7__border
{
    position: relative;
    z-index: 3;
    width: $widthBorderchap;
    height: $heightBorderchap;
    border: 1px dotted #8e8470;
}

.chapter-3__text1-bg,
.chapter-4__text1-bg,
.chapter-7__text1-bg
{
    position: absolute;
    z-index: 1;
    width: 180px;
    height: 181px;
    margin:
    {
        top: -10px;
        left: -10px;
    };
    padding:
    {
        top: (40 / 420) * 100%;
        left: (40 / 420) * 100%;
    }
}

.chapter-3__text1-bg
{
    background-color: #6a3b35;
}

.chapter-4__text1-bg
{
    background-color: #514441;
}

.chapter-7__text1-bg
{
    background-color: #40434b;
}


.chapter-3__text2-bg,
.chapter-4__text2-bg,
.chapter-7__text2-bg
{
    position: absolute;
    z-index: 0;
    top: 55px;
    right: 0;
    width: 170px;
    height: 150px;
}


.chapter-3__text2,
.chapter-4__text2,
.chapter-7__text2
{
    line-height: 1.5;
    max-width: 160px;
    padding-bottom: 35px;
}

.chapter-4__text2
{
    padding-bottom: 20px;
}

.chapter-2__text2::before,
.chapter-2__text3::before,
.chapter-4__text2::before,
.chapter-6__text2::before,
.chapter-6__text3::before,
.chapter-7__text2::before
{
    font-weight: bold;
    position: absolute;
    left: -14px;
    content: '—';
}

.chapter-2__text2::before,
.chapter-2__text3::before,
.chapter-6__text2::before,
.chapter-6__text3::before
{
    left: 16px;
}

.chapter-5,
.chapter-8__text-block2
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin: 9px;
    padding:
    {
        top: (30 / 16) + rem;
        left: (30 / 16) + rem;
    };

    border: 1px dotted #8e8470;
}

.chapter-8__text-block2
{
    padding-top: (20 / 16) + rem;
}

.chapter-5__text
{
    padding-bottom: (20 / 16) + rem;
}

.chapter-8__text2
{
    padding-bottom: (15 / 16) + rem;
}

.chapter-8
{
    display: flex;
    width: $widthchapbig;
    height: $heightchap;
    -webkit-align-items: center;
            align-items: center;
}

.chapter-8__text-bg
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: $widthchap;
    height: $heightchap;
    padding:
    {
        top: (30 / 16) + rem;
        left: (30 / 16) + rem;
    };

    background-color: #414e51;
}

.social-nets
{
    width: 115px;
    height: 25px;
    margin: auto;
}

.chapter-3__text1-bg::after,
.chapter-4__text1-bg::after,
.chapter-7__text1-bg::after,
.chapter-8::after
{
    position: absolute;
    content: '';
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.chapter-3__text1-bg::after
{
    left: 219px;
    margin-top: -24%;
    border-left: 16px solid #6a3b35;
}

.chapter-4__text1-bg::after
{
    left: 219px;
    margin-top: -42%;
    border-left: 16px solid #514441;
}

.chapter-7__text1-bg::after
{
    left: 219px;
    margin-top: -20px;
    border-left: 16px solid #40434b;
}

.chapter-8::after
{
    margin-left: 219px;
    border-left: 16px solid #414e51;
}

.label-company::before
{
    position: absolute;
    margin-left: 205px;
    margin-top: 95px;
    content: '';
    border-top: 16px solid transparent;
    border-right: 16px solid #514441;
    border-bottom: 16px solid transparent;
}

/*---------------------------end-------------------------------*/

/*-------------------------- ...etc СЕКЦИИ -------------------*/
.touch-their-chapter-5-6
{
    display: flex;
}

.videoblock-chapter-8__text-block-2
{
    display: flex;
}

/*--------------------------- end ----------------------------*/

#star
{
    fill: #2a2a2a;
}

.fa-vk
{
    background-color: #48729e;
}

.fa-facebook
{
    background-color: #3b5998;
}

.fa-odnoklassniki
{
    background-color: #eb722e;
}

.fa-twitter
{
    background-color: #00aced;
}

.copyright
{
    display: block;
    margin-top: 90px;
    margin-right: 12%;
    padding-bottom: 75px;
    text-align: right;
    color: #8e8470;
}
